<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>jms-message-sender-1.0</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>submitDataController</servlet-name>
  	<servlet-class>com.pratap.ex.jms.servlet.SubmitDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>submitDataController</servlet-name>
  	<url-pattern>/submitDataController</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>dbEraseServlet</servlet-name>
  	<servlet-class>com.pratap.ex.jms.servlet.DbEraseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>dbEraseServlet</servlet-name>
  	<url-pattern>/dbEraseServlet</url-pattern>
  </servlet-mapping>
</web-app>